/* -------- FONTS --------- */
@font-face {
    font-family: metropolis-medium;
    src: url(font/Metropolis-Medium.otf);
}

@font-face {
    font-family: metropolis-light;
    src: url(font/Metropolis-Light.otf);
}

@font-face {
    font-family: metropolis-bold;
    src: url(font/Metropolis-Bold.otf);
}

@font-face {
    font-family: inter-regular;
    src: url(font/Inter-Regular.ttf);
}

body {
    color: #646060;
}

/* -------- HEADER --------- */

.banner {
    text-align: center;
}

#intro-name {
    font-family: metropolis-medium;
    font-size: 0.60em;
    margin-top: 6em;
    margin-bottom: 12em;
    letter-spacing: 1.2px;
}

#main-name {
    font-family: metropolis-bold;
    font-size: 4em;
}

#surname {
    font-family: metropolis-light;
    font-size: 0.90em;
    margin-top: -2.4em;
    margin-bottom: 9em;
    letter-spacing: 1px;
}

/* ----- INTRODUCTION ------ */

.gif {
    text-align: center;
    font-family: metropolis-bold;
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: #C4C4C4;
}

#introduction h2 {
    font-family: metropolis-bold;
    font-size: 0.90em;
    margin-top: 1.7em;
    margin-bottom: 1.5em;
}

#introduction p {
    font-family: metropolis-light;
    font-size: 0.72em;
    letter-spacing: 0.05em;
    line-height: 1.7;
    width: 25.5em;
    margin-bottom: 4em;
}

#introduction {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90vw;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4em;
}

.introduction-divs {
    margin-left: 2.8%;
    margin-right: 2.8%;
}

/* ----- TRANSICTION ------- */

#transicao {
    width: 3.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -9.8em;
}

/* ------- HOBBIES --------- */

#main-hobbies-content {
    padding-bottom: 15em;
    background-image: linear-gradient( #64C2BD, #7BC9F4, #74C4F1, #6DDAF4, #FFFFFF);
    margin-top: 8em;
    color: white;
}

#title-hobbies {
    text-align: center;
    font-size: 1.80em;
    padding-top: 4em;
    margin-bottom: 2em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    font-family: metropolis-bold;
}

.title-content {
    font-family: metropolis-bold;
    font-size: 0.90em;
}

#main-hobbies-content p {
    font-family: metropolis-light;
    font-size: 0.72em;
    letter-spacing: 0.05em;
    line-height: 1.7;
    max-width: 55em;
    flex-wrap: wrap;
}

#main-hobbies-content hr{
    width: 68vmax;
    background-color: white;
    opacity: 80%;
    border-width: 1px;
    border-style: solid;
    margin-top: 3em;
    margin-bottom: 3em;
}

#main-hobbies-content article {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: center;
    flex-wrap: wrap;
    
}

.objetos-compostos {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em 1em 1em 1em;
}

.objetos-compostos img {
    width: 4.5em;
}

.textos {
    margin: 0.5em 3em 0.5em 3em;
}

/* ------- ACADEMICO ------- */

#main-title-courses {
    text-align: center;
    font-size: 1.80em;
    margin-bottom: 4em;
    margin-top: -100px;
    font-family: metropolis-bold; 
}

#main-courses img {
    width: 12em;
    padding: 1.7em 1em 1.65em 1em;
}

.mini-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.individual-cards {
    width: 14em;
    height: 18em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 6em;
    color: white;
    background-color: #fff0f0;
    box-shadow: 1px 5px 10px -3px grey;
}

.title-track-complete {
    font-family: metropolis-medium;
    font-size: 0.50em;
    background-color: #6BC074;
    margin-left: 4.5em;
    margin-right: 4.5em;
    margin-top: -2em;
    padding-top: 0.01em;
    padding-bottom: 0.01em;
    text-align: center;
    letter-spacing: 0.08em;
}

.content-courses-complete {
    background-color: #6BC074;
    font-family: metropolis-light;
    font-size: 0.73em;
    padding: 1em 1em 1em 1.3em;
    margin-top: -0.5em;
    letter-spacing: 0.05em;
    height: 9.7em;
}

.content-courses-complete h2 {
    font-family: metropolis-medium;
    font-size: 1.1em;
}

.content-courses-complete p {
    padding-right: 1em;
    line-height: 1.3em;
}

.title-track-progress {
    font-family: metropolis-medium;
    font-size: 0.50em;
    background-color: #5CB1D6;
    margin-left: 4.5em;
    margin-right: 4.5em;
    margin-top: -2em;
    padding-top: 0.01em;
    padding-bottom: 0.01em;
    text-align: center;
    letter-spacing: 0.08em;
}

.content-courses-progress {
    background-color: #5CB1D6;
    font-family: metropolis-light;
    font-size: 0.73em;
    padding: 1em 1em 1em 1.3em;
    margin-top: -0.5em;
    letter-spacing: 0.05em;
    height: 9.7em;
}

.content-courses-progress h2 {
    font-family: metropolis-medium;
    font-size: 1.1em;
}

.content-courses-progress p {
    padding-right: 1em;
    line-height: 1.3em;
}

/* ------ PROFISSIONAL ----- */

#title-professional {
    text-align: center;
    font-size: 1.80em;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    font-family: metropolis-bold;
}

#main-container-professional {
    padding-top: 3em;
    padding-bottom: 3em;
    margin-right: 50%;
    padding-left: 18%;
    padding-right: 3%;
    border-right: 2px solid #646060;
}

.details-career h2 {
    font-family: metropolis-bold;
    font-size: 0.90em;
    flex-wrap: wrap;
    line-height: 1.6;
}

.details-career h3 {
    font-family: metropolis-bold;
    font-size: 0.81em;
    letter-spacing: 0.02em;
    flex-wrap: wrap;
    margin-top: -0.7em;
    margin-bottom: 2em;
}

.details-career p {
    font-family: metropolis-light;
    font-size: 0.72em;
    letter-spacing: 0.05em;
    line-height: 1.7;
    flex-wrap: wrap;
}

#first-career {
    text-align: right;
}

#second-career {
    text-align: left;
    margin-top: 5em;
    margin-left: 121%;
    width: 100%;
}

#third-career {
    text-align: right;
    margin-top: 5em;
}

#forth-career {
    text-align: right;
    margin-top: 5em;
}

/* --- TRAB. VOLUTÁRIOS --- */

#title-volunteer {
    text-align: center;
    font-size: 1.80em;
    margin-top: 5em;
    margin-bottom: 2em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    font-family: metropolis-bold;
}

.container-volunteers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
    justify-content: center;
}

.volunteer-img {
    display: flex;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
}

.volunteer-img img {
    width: 24em; /* width of container */
    height: 6em; /* height of container */
    object-fit: cover;
}

.volunteer-info {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 33em;
    align-items: center;
}

.volunteer-info h2 {
    font-family: metropolis-bold;
    font-size: 0.90em;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.2;
}

.volunteer-info p {
    font-family: metropolis-light;
    font-size: 0.72em;
    letter-spacing: 0.05em;
    line-height: 1.6;
}

/* --- RECONHECIMENTOS ----- */

#title-gratitude {
    text-align: center;
    font-size: 1.80em;
    margin-top: 5em;
    margin-bottom: 2em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    font-family: metropolis-bold;
}

#gratitude-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#gratitude-img img {
    height: 19em;
    border-width: 0.01px;
    margin: 1em 1em 1em 1em;
    border: 1px solid white;
    box-shadow: 1px 5px 10px -3px grey;
}

#gratitude-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em; /*PAAAAREI AQUUUII*/
}

#gratitude-content h2 {
    font-family: metropolis-bold;
    font-size: 0.90em;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

#gratitude-content p {
    font-family: metropolis-light;
    font-size: 0.72em;
    letter-spacing: 0.05em;
    line-height: 1.7;
    max-width: 70em;
}

/* -------- CONTATO -------- */

/* CONTINUAREI EM UM MOMENTO POSTERIOR

#title-contact {
    text-align: center;
    font-size: 1.80em;
    margin-top: 5em;
    margin-bottom: 2em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    font-family: metropolis-bold;
}

form {
    display: flex;
    flex-direction: row;
    margin-left: 15em;
    margin-right: 3em;
    max-width: 30em;
}

label {
    font-family: metropolis-medium;
    font-size: 0.72em;
    letter-spacing: 0.05em;
    display: flex;
    flex-direction: column;
    text-align: right;
}



input, textarea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: metropolis-light;
    font-size: 0.72em;
    letter-spacing: 0.05em;
    line-height: 1.7;
    width: 40em;
    height: 1em;
    border: 1px solid #646060;
    margin-top: -0.20em;
    padding: 1em 1em 1em 1em;
    position: relative;
}

textarea {
    height: 15em;
}
*/ 

/* -------- FOOTER --------- */

footer {
    margin-top: 12em;
    font-family: metropolis-bold;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    line-height: 1.7;
    border-top: 1.5px solid #646060;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 2em;
    margin-left: 0.90em;
    margin-right: 0.90em;
}

#menu-footer {
    margin-top: 2em;
    margin-bottom: 1em;
}

#social-media {
    margin-top: 1em;
    margin-bottom: 2em;
}