/* -------- FONTS --------- */
@font-face {
    font-family: metropolis-medium;
    src: url(font/Metropolis-Medium.otf);
}

@font-face {
    font-family: metropolis-light;
    src: url(font/Metropolis-Light.otf);
}

@font-face {
    font-family: metropolis-bold;
    src: url(font/Metropolis-Bold.otf);
}

body {
    color: #646060;
}

/* -------- HEADER --------- */

.banner {
    text-align: center;
}

#intro-name {
    font-family: metropolis-medium;
    font-size: 0.80em;
    margin-top: 6em;
    margin-bottom: 12em;
    letter-spacing: 1.5px;
}

#main-name {
    font-family: metropolis-bold;
    font-size: 5em;
}

#surname {
    font-family: metropolis-light;
    font-size: 1.2em;
    margin-top: -2.4em;
    margin-bottom: 9em;
    letter-spacing: 1px;
}

/* ----- INTRODUCTION ------ */

.gif {
    text-align: center;
    font-family: metropolis-bold;
    padding-top: 182px;
    padding-bottom: 182px;
    background-color: #C4C4C4;
}

#introduction h2 {
    font-family: metropolis-bold;
    font-size: 1.05em;
    margin-top: 1.7em;
    margin-bottom: 1.5em;
}

#introduction p {
    font-family: metropolis-light;
    font-size: 0.83em;
    line-height: 1.6;
    width: 24em;
    margin-bottom: 4em;
    text-align: justify;
}

#introduction {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90vw;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4em;
}

.introduction-divs {
    margin-left: 3%;
    margin-right: 3%;
}

/* ----- TRANSICTION ------- */

#transicao {
    width: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10em;
}

/* ------- HOBBIES --------- */

#main-hobbies-content {
    padding-bottom: 15em;
    background-image: linear-gradient( #64C2BD, #7BC9F4, #74C4F1, #6DDAF4, #FFFFFF);
    margin-top: 8em;
    color: white;
}

#title-hobbies {
    text-align: center;
    font-size: 2.2em;
    padding-top: 4em;
    margin-bottom: 2em;
    font-family: metropolis-bold;
}

.title-content {
    font-family: metropolis-bold;
    font-size: 1.05em;
}

#main-hobbies-content p {
    font-family: metropolis-light;
    font-size: 0.83em;
    line-height: 1.6;
    max-width: 54em;
    flex-wrap: wrap;
    text-align: justify;
}

#main-hobbies-content hr{
    max-width: 72%;
    background-color: white;
    opacity: 80%;
    border-width: 1px;
    border-style: solid;
    margin-top: 3em;
    margin-bottom: 3em;
}

#main-hobbies-content article {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: center;
    flex-wrap: wrap;
    
}

.objetos-compostos {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em 1em 1em 1em;
}

.objetos-compostos img {
    width: 5em;
}

.textos {
    margin: 0.5em 3em 0.5em 3em;
}

/* ------- ACADEMICO ------- */

#main-title-courses {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 2em;
    font-family: metropolis-bold; 
}

#main-courses img {
    width: 10em;
}

.mini-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.individual-cards {
    width: 15em;
    height: 20em;
    margin-left: 2em;
    margin-right: 2em;
    background-color: greenyellow;
}



