/* -------- FONTS --------- */
@font-face {
    font-family: metropolis-medium;
    src: url(font/Metropolis-Medium.otf);
}

@font-face {
    font-family: metropolis-light;
    src: url(font/Metropolis-Light.otf);
}

@font-face {
    font-family: metropolis-bold;
    src: url(font/Metropolis-Bold.otf);
}

body {
    color: #646060;
}

/* -------- HEADER --------- */

header {
    margin: auto;
    width: 60vw;
}

.intro {
    text-align: center;
}

#intro-name {
    font-family: metropolis-medium;
    font-size: 0.85em;
}

#main-name {
    font-family: metropolis-bold;
    font-size: 5em;
}

#surname {
    font-family: metropolis-light;
    font-size: 1.2em;
}

/* ----- INTRODUCTION ------ */

#introduction h2 {
    font-family: metropolis-bold;
    font-size: 1.05em;
}

#introduction p {
    font-family: metropolis-light;
    font-size: 0.83em;
}

#introduction {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 70vw;
    justify-content: center;
    background-color: yellow;
}

#introduction p {
    line-height: 1.6;
    width: 23vw;
}

.introduction-divs {
    margin: 5% 5% 5% 5%;
}